openapi: 3.0.0
info:
  title: API Management - Bill Payment
  description: |-
    Common specification bill payment for Open APIs (APIM-783)

    # Versioning
    | Version | Date | Summary of changes | Author |
    |---------|------|--------------------|--------|
    | 0.8.6 | 15-05-2020 | Initial version | Chayakorn A. |

    # Error codes table
    | Response Code | Response Description | BillLookup Response | BillPayment Response |
    |-----------|-----------|-----------|-----------|  
    |0000|	Success|	Y|	Y|
    |9001|	Unauthorized|	Y|	|
    |9002|	System Error|	Y	||
    |9999|	Unknown Error| 	Y|	Y|
    |9000|	No Response or Timeout|	Y|	|
    |9003|	Merchant Service unavailable| 	Y|	|
    |0001|	Invalid Payment reference number|	Y|	|
    |0002|	Already paid|	Y|	|
    |0003|	Payment time expired|	Y|	|
    |0004|	Invalid payment amount|	Y	||
    |0005|	Payment canceled|	Y	||
    |0006|	Out of Stock|	Y	||
    |1000|	Other Merchant Error|	Y	||
    |1001|	Invalid message format|	Y	||
    
  x-unofficialSpec: false
  x-nullable: true
  version: "0.8.6"

servers:
  - url: https://apitest.kasikornbank.com:12002
    description: Dummy url for Dev
    
paths:
  /inquiry:
    post:
      tags:
        - Bill payment
      summary: Bill Lookup Request
      description: >
        Service สำหรับ Onus, PromptPay Bill Payment ขา Inquiry request<br>
        - PromptPay หมายถึง การชำระเงินด้วย Biller ID 15 หลัก ทั้งช่องทาง KBank และ ต่างธนาคาร<br>
        - KBankChannel หมายถึง การชำระเงินด้วย Compcode 5 หลัก ผ่านช่องทาง KBank เท่านั้น

      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/inquiryRequest'
      responses:
        '200':
          description: Response OK
          content:
            application/json:
              schema: 
                $ref: '#/components/schemas/registerResponse'
                    
components:
  schemas:
    inquiryRequest:
      required:
      - functionName
      - transactionId
      - transactionDateTime
      - billerId
      - terminalNo
      - channelCode
      - tranAmount
      - senderBankCode
      - reference1
      - language

      properties:
        functionName:
          type: string
          maxLength: 30
          description: >
            The name of the function provided by a service provider.<br>
            Fix value = "BillLookup"
          example: BillLookup

        transactionId:
          type: string
          maxLength: 47
          description: >
            Unique Request ID <br><br>
            PromptPay : &lt;Sponsor Bank code&gt;\_&lt;System Date YYYYMMDD&gt;\_&lt;Unique ID&gt;<br>
 
            >  Sample value <br>
              MPAY_20080215_000000000000102<br>
              JAEW_20080215_C9BCE0F5<br>
              TMN_20080215_550e8400e29b41d4a716446 <br><br>

            KBankChannel :  KBank Unique transaction number generated from Payment Channel

            >  Sample value  <br>
              95501310120170530183382162
          example: MPAY_20080215_000000000000102

        transactionDateTime:
          type: string
          maxLength: 29
          description: >
            System timestamp that this source message in this interaction chain was sent, not time each individual message was sent.<br><br>
            
            Format: yyyy-MM-dd'T'HH:mm:ss.SSS+07:00
          example: 1997-07-16T19:20:30.450+07:00

        billerType:
          type: string
          maxLength: 12
          description: >
            Receiving Proxy Type<br><br>
            PromptPay : Fix value = "BILLERID"

            > Sample value <br>
            PromptPay : BILLERID<br>
            KBankChannel : send blank or empty string
          example: BILLERID

        billerId:
          type: string
          maxLength: 128
          description: >
            Receiving Proxy Value<br><br>
            PromptPay :  15 digits<br>
            KBankChannel : 5 digits<br>

            > Sample value <br>
              PromptPay : 123456789012345<br>
              KBankChannel : 98099
          example: 123456789012345

        terminalNo:
          type: string
          maxLength: 16
          description: >
            Terminal ID<br><br>
            PromptPay : &lt;AppId&gt;&lt;RunningNo&gt;<br>

            >  Sample value <br>
              JAEW000000000001<br>
              MPAY000000000001<br>
              TMN0000000000001<br><br>

            KBankChannel : &lt;66 mobileNo&gt;

             >  Sample value <br>
             66813320099
          example: JAEW000000000001

        promptPayReferenceNumber:
          type: string
          maxLength: 12
          description: >
            Source system's transaction reference number<br><br>
            PromptPay : format YDDDHHnnnnnn example: 900120000001<br>
            KBankChannel : send blank or empty string
          example: 900120000001

        channelCode:
          type: string
          maxLength: 3
          description: Terminal type
          enum:
            - IVR
            - N/A
            - ATM
            - BPA
            - BRN
            - IB
            - MOB
          example: MOB

        tranAmount:
          type: string
          maxLength: 13
          description: >
            Transaction amount<br><br>
            Format: 9(10).99 , ###0.00
          example: 1000.00

        senderBankCode:
          type: string
          maxLength: 20
          description: Sender Bank
          example: Kbank

        reference1:
          type: string
          maxLength: 20
          description: 1st Reference Number on Bill Slip or QR Code
          example: 12345678901234567890

        reference2:
          type: string
          maxLength: 20
          description: 2st Reference Number on Bill Slip or QR Code
          example: 12345678901234567890

        reference3:
          type: string
          maxLength: 20
          description: >
            3st Reference Number on Bill Slip or QR Code<br><br>
            PromptPay : 12345678901234567890<br>
            KBankChannel : send blank or empty string
          example: 12345678901234567890

        language:
          type: string
          maxLength: 2
          description: Language “EN” = English (Default) “TH” = Thai
          example: EN
 
        apiKey:
          type: string
          maxLength: 50
          description: Key of merchant that ORPG will use to communicate with Merchant will be provided by Merchant.
          example: 95501310120170530183382162
        
        additional:
          $ref: '#/components/schemas/additional'

    additional:
      type: object
      properties:
        payerFee:
          type: string
          maxLength: 6
          description: >
            This field contains the amount of the transaction fees charged by the Sender bank. 0.00 - 999.99 decimal implied.<br><br>
            PromptPay : 9(3).99

            >  Sample value <br>
            PromptPay : 0.00<br>
            KBankChannel : send blank or empty string
          example: 0.00

        billerFee:
          type: string
          maxLength: 6	
          description: >
            This field contains the amount of the transaction fee charged by the Transferer Bank/From Account Bank. 0.00 - 999.99 decimal implied.<br>
            For Bill payment;
            <li>To be filled by sending bank</li>
            <li>To collect fee from Biller</li><br><br>
            PromptPay : 9(3).99

            >  Sample value <br>
            PromptPay : 0.00<br>
            KBankChannel : send blank or empty string
          example: 0.00

        transferWithTax:
          type: string
          maxLength: 1
          description: >
            Tax information for type of transfer with tax or without tax (Withholding Tax, VAT).
            <li>0 = Transfer without WHT or VAT</li>
            <li>1 = Transfer with WHT or VAT</li>

            >  Sample value <br>
            PromptPay : 0<br>
            KBankChannel : send blank or empty string
          example: 0
          
        fromProxyValue:
          type: string
          maxLength: 128	
          description: >
            Sender PromptPay ID<br><br>
            PromptPay : 
            <li>NATID: 9(13) เลขที่บัตรประชาชน 13 หลัก</li>
            <li>MSISDN: 9(10) เบอร์โทรศัพท์ 10 หลัก</li>
            <li>EWALLETID: 9(15) เลขที่ ewallet id 15 หลัก</li><br>

            >  Sample value <br>
            PromptPay : 0814902200<br>
            KBankChannel : send blank or empty string
          example: 0814902200

        fromProxyType:
          type: string
          maxLength: 12	
          description: >
            Sender Proxy Type

            >  Sample value <br> 
              PromptPay : MSISDN<br> 
              KBankChannel : send blank or empty string
          enum:
            - NATID
            - MSISDN
            - EWALLETID
          example: NATID

        senderTaxID:
          type: string
          maxLength: 13	
          description: >
            TAX identification or National ID for sender (AMLO information)<br><br>
            PromptPay : NATID: 9(13) เลขที่ผู้เสียภาษีหรือเลขที่บัตรประชาชน 13 หลัก

            >  Sample value <br> 
            PromptPay : 1234567890123<br> 
            KBankChannel : send blank or empty string
          example: 1234567890123

        senderAcctName:
          type: string
          maxLength: 50	
          description: >
            From Customer name. Can be in Thai. 

            >  Sample value <br> 
            PromptPay : <br> 
            - SOMCAHI RAKMUANGTHAI<br> 
            - สมชาย รักเมืองไทย<br> 
            KBankChannel : send blank or empty string
          example: SOMCAHI RAKMUANGTHAI

        vatRates:
          type: string
          maxLength: 5
          description: >
            This Field contains VAT Rates. 0.00 - 99.99 decimal implied.<br><br>
            PromptPay : 9(2).99

            >  Sample value <br> 
            PromptPay : 0.00<br> 
            KBankChannel : send blank or empty string
          example: 0.00

        vat:
          type: string
          maxLength: 13	
          description: >
            This Field contains VAT Amount. 0.00 – 9999999999.99 decimal implied.<br><br>
            PromptPay : 9(10).99

            >  Sample value <br> 
            PromptPay : 0.00<br> 
            KBankChannel : send blank or empty string
          example: 0.00

        typeofTaxIncome:
          type: string
          maxLength: 3	
          description: >
            Type of Income (In case of paying tax)

            >  Sample value <br> 
            PromptPay : 001<br> 
            KBankChannel : send blank or empty string
          enum:
            - 001
            - 002
            - 003
            - 004
            - 005
            - 006
            - 007
            - 008
            - 009
            - 010
            - 011
            - 012
          example: 001

        withholdingTaxRates:
          type: string
          maxLength: 5	
          description: >
            This Field contains Withholding Tax Rates. 0.00 - 99.99 decimal implied.<br><br>
            PromptPay : 9(2).99

            >  Sample value <br> 
            PromptPay : 0.00<br> 
            KBankChannel : send blank or empty string
          example: 0.00

        withholdingTax:
          type: string
          maxLength: 13	
          description: >
            This Field contains Withholding Tax Amount. 0.00 - 9999999999.99 decimal implied.<br><br>
            PromptPay : 9(10).99

            >  Sample value <br> 
            PromptPay : 0.00<br> 
            KBankChannel : send blank or empty string
          example: 0.00

        withholdingTaxConditions:
          type: string
          maxLength: 1	
          description: >
            <li>A = Withholding Tax paid always by Seller</li>
            <li>S = Withholding Tax paid one time by Seller</li>
            <li>B = Withholding Tax paid by Buyer</li><br>

            >  Sample value <br> 
            PromptPay : A<br> 
            KBankChannel : send blank or empty string
          enum:
            - A
            - S
            - B
          example: A

        settlementDate:
          type: string
          maxLength: 4	
          description: >
            For on-us transaction, settlementDate will be generated by sponsor bank. For off-us transaction, settlementDate will be used settlementDate from ITMX.<br><br>
            PromptPay : MMDD

            >  Sample value <br> 
            PromptPay : 0927<br> 
            KBankChannel : send blank or empty string
          example: 0927

        promptPayFlag:
          type: string
          maxLength: 2	
          description: >
            Identify PromptPay transaction type

            >  Sample value <br> 
            PromptPay : 00<br> 
            KBankChannel : send blank or empty string
          example: 00

        typeofSender:
          type: string
          maxLength: 1	
          description: >
            Sender customer type

            >  Sample value <br> 
            PromptPay : Q<br> 
            KBankChannel : send blank or empty string
          enum:
            - N
            - E
            - S
            - Q
            - H
          example: Q

        dueDate:
          type: string
          maxLength: 8	
          description: >
            This Field contains Due Date on Bill Slip or QR Code<br><br>
            PromptPay : YYYYMMDD

            >  Sample value <br> 
            PromptPay : 20171016<br> 
            KBankChannel : send blank or empty string
          example: 20171016

        rtpReference:
          type: string
          maxLength: 16	
          description: >
            Contains Reference number from Request to Pay Transaction (If it has not relation with Request to Pay needs to filled space)

            >  Sample value <br> 
            PromptPay : 1234567890123456<br> 
            KBankChannel : send blank or empty string
          example: 1234567890123456

        rqAppId:
          type: string
          maxLength: 10
          description: >
            Service Name of original source application (the one that set ReqDt) 

            >  Sample value <br> 
            PromptPay : 001<br> 
            KBankChannel : send blank or empty string
          example: 001

    registerResponse:
        properties:
                  partnerTxnUid:
                    type: string
                    maxLength: 15
                    description: This value will be copied from request message.
                    example: "RGH001030118001"
                  partnerId:
                    type: string
                    maxLength: 10
                    description: This value will be copied from request message.
                    example: "POS001"
                  statusCode:
                    type: string
                    maxLength: 2
                    description: Status code. Please refer to Appendix for possible values
                    example: "00"
                  errorCode:
                    type: string
                    maxLength: 35
                    description: Code to identify the error.
                    example:
                  errorDesc:
                    type: string
                    maxLength: 150
                    description: Description of the error.
                    example:
        required: 
          - partnerTxnUid
          - partnerId
          - statusCode